/* css */

.mt-50 {
	margin-top: 50px;
}
.mb-100 {
	margin-bottom: 100px;
}

.link-danger {
	cursor: pointer;
}

.note-details h1 {
	font-weight: 900;
	font-size: 80px;
}

.h-500 {
	min-height: 500px;
	max-height: 500px;
}
